@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

.container {
  padding: 3.5em 1em;
  max-width: 375px;
}

/* Header */
.header__title {
  font-family: PT Serif;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.045em;
  margin-bottom: 0.8em;
}
.header__subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.header__text {
  font-size: 1.4rem;
  line-height: 21px;
  margin-bottom: 3.5em;
}
/* END Header */

/* Main */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 305px;
  gap: 1em;
  margin-bottom: 6em;
}
.team-member {
  display: flex;
  flex-direction: column;
  width: auto;
}
.team-member:nth-child(2n) {
  justify-content: flex-end;
}
.team-member__image-wrapper {
}
.team-member__image {
  max-width: 140px;
}
.team-member__image img {
  width: 100%;
  float: left;
}
.team-member__title {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: 'PT Serif', serif;
  font-size: 1rem;
  word-spacing: 0.5rem;
  float: left;
}
.team-member__name {
  font-size: 1.4rem;
  font-weight: 600;
}
/* END Main */

/* Footer */
.footer {
  color: hsla(0, 0%, 66%, 1);
  text-align: center;
  font-family: Montserrat;
  font-size: 1.4rem;
}
.footer__link {
  color: hsla(0, 0%, 66%, 1);
  font-weight: bold;
}
/* END Footer */

/* Media Queries */
@media (min-width: 850px) {
  .container {
    max-width: 932px;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 430px;
    margin-bottom: 6em;
  }
  .team-member:nth-child(2n) {
    justify-content: flex-start;
  }
  .team-member:nth-child(3n + 2) {
    justify-content: flex-end;
  }
  .team-member__image {
    max-width: 238px;
  }
  .team-member__title {
    font-size: 1.5rem;
    /* word-spacing: 0.5rem; */
    letter-spacing: 0.1rem;
  }
  .team-member__name {
    font-size: 2rem;
  }
}
